<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />

<ak-page-title></ak-page-title>
<ak-header-metatags></ak-header-metatags>
<ak-sitemapxml></ak-sitemapxml>
<ak-siteverification></ak-siteverification>
<ak-header-linkreltags></ak-header-linkreltags>
<ak-stylesheets></ak-stylesheets>
<ak-headerJavaScript></ak-headerJavaScript>

<style>

html, body {
    height:100%;
    margin:0;
	/* padding-top: 0px !important; */
}

div#page-container {
    position: absolute;
    top: 70px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* height:100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-content: stretch;
    align-content: stretch; */
}

div#header-row {
    /* order: 1; */
    /* height: 100px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
}

div#content-row {
    /* flex: 1;
    -webkit-flex: 1;
    width: 100%; */
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    /* order: 2; */
}

div#footer-row {
    /* text-align: center;
    height: 100px;
    width: 100%; */
    /* order: 3; */
}

div#page-container div#content-row article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height:100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-content: stretch;
    align-content: stretch; */
}

div#page-container div#content-row article div.panel-heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* height: 50px; */
}

div#page-container div#content-row article div#book-page-content {
    position: absolute;
    top: 65px;
    left: 10px;
    right: 10px;
    bottom: 0;
    overflow-y: auto;
    /* flex: 1;
    -webkit-flex: 1;
    overflow-y: auto; */
    /* max-height: 700px;  */
}
</style>
</head>
<body>

<partial file-name="site-navbar.html"></partial>

<!-- class="container-fluid" role="main" -->
<div id="page-container" >
<div id="header-row"> <!--  class="row" -->
<div><partial file-name="ebook-header.html.ejs"></partial></div> <!--  class="col-sm-12" -->
</div>

<div id="content-row"> <!--  class="row" -->
  <article class="panel panel-default"> <!-- class="col-sm-12 panel panel-default" -->
      <ebook-navigation-header></ebook-navigation-header>
      <div id="book-page-content"><%- content %></div>
  </article>
</div>

<footer id="footer-row"> <!--  class="row" -->
<div><partial file-name="footer.html.ejs"></partial></div> <!--  class="col-sm-12" -->
</footer>
</div>

<ak-footerJavaScript></ak-footerJavaScript>
<partial file-name="google-analytics.html"></partial>


</body>
</html>
